node_modules 
src/public/jobs/* 
!src/public/jobs/sample/
**/__pycache__
tests
src/public/REnameMapTables/*.zip
src/TurboPutative-2.0-built/TPProcesser/REname/data/preProcessedNames.tsv
src/TurboOmicsIntegrator/jobs/4eYOz8s8nD
