<div class="container-fluid mt-4">
    <label for="infile" class="display-4" style="font-size: 2em;">
        Select input file (.tsv, .xls, .xlsx) containing putative annotations
    </label>
    <input type="file" class="form-control-file my-4" id="infile" name="infile" form="mainForm"
    accept=".tsv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    <a class="nav-link p-0" href="/assets/files/MS_experiment.tsv" download="MS_experiment.tsv">Download Example File</a>
</div>