<div class="container-fluid mt-4" style="font-size: 1em;">

    <div class="row">

        <div class="col-6 d-flex flex-column p-2 border">
            
            <div class="text-center">
                <h5 class="display-4" style="font-size: 1.6em;">Select file with feature information</h5>
            </div>

            <div class="align-self-center" style="margin-top: 5%;">
                <input type="file" class="form-control-file my-4" id="featInfoFile" name="featInfoFile" form="mainForm" style="width:100%; margin-left: 33%;"
                accept=".tsv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                <a class="d-block nav-link p-0 my-2 text-center" href="assets/files/FeatureInfo.tsv" download="Demo_data_FeatureInfo.tsv" style="font-size: 1.3em;">Download demo data</a>
            </div>

            <div class="p-2 mt-3">
                <div class="form-group">
                    <div style="display: block; text-align: center;">
                        <label for="i_pattern" data-toggle="popover" data-trigger="hover" title="Intensity Columns" data-content='Pattern to find columns containing intesities. In demo data: C18_'>
                            Intensities Columns Prefix &#9432;
                        </label>
                    </div>
                    <input style="width:50%; margin:auto" type="text" class="form-control TPMetrics-param" id="i_pattern" name="i_pattern" placeholder="optional">
                </div>
            </div>

            <div style="">
                <div style="text-align: center; font-size: 1.2em;">
                    <span data-toggle="popover" data-trigger="hover" title="Lipid Class and Possible Adducts" data-content='Indicate the possible adducts associated with each lipid class for the score calculation. If a lipid class can have several adducts, the first ones will have a higher weight in the score calculation.'>
                        Lipid Class and Possible Adducts &#9432;
                    </span>
                </div>
                <div id="lipid-table" style="">
                    <div class="control-panel d-flex justify-content-center" style="text-align:center;">
                        <div style="border-right:1px solid lightgray">
                            <!--<div>
                                <button type="button" class="btn btn-outline-dark btn-sm mx-2" onclick="add_default_values_positive_FA()">FA Positive Mode</button>
                            </div>-->
                            <div>
                                <button type="button" class="btn btn-outline-dark btn-sm mx-2" onclick="add_default_values_positive_NH4()">Positive Mode</button>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <div>
                                <button type="button" class="btn btn-outline-dark btn-sm mx-2" onclick="add_default_values_negative()">Negative Mode</button>
                            </div>
                        </div>
                    </div>
                    <div class="hot"></div>        
                </div>
                
                <!--
                <div id="convert-panel">
                    <button type="button" class="btn btn-outline-primary" onclick="convert_data_from_table('#lipid-table .hot')">Convert Table to JSON</button>
                </div>
                -->
                
            </div>

        </div>

        <div class="col-6 d-flex flex-column p-2 border">
            <div class="text-center">
                <h5 class="display-4" style="font-size: 1.6em;">Optional TPMetrics Parameters</h5>
            </div>

            <div>
                <h5 class="display-4" style="font-size: 1.3em;">- Merge Tables -</h5>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="n_digits" data-toggle="popover" data-trigger="hover" title="Decimal Places" data-content='Number of decimal places to which experimental mass of the features will be rounded. Default: 4'>
                        Decimal Places &#9432;
                    </label>
                    <input type="text" class="form-control TableMerger-param" id="n_digits" name="n_digits" placeholder="optional">
                </div>
            </div>

            <div>
                <h5 class="display-4 text-decoration-underline" style="font-size: 1.3em;">- Metric Calculation -</h5>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="rt1" data-toggle="popover" data-trigger="hover" title="Metabolite Retention Time" data-content='Retention time window applied to find features corresponding to the same metabolite. Default: 0.1'>
                        Metabolite retention time window  &#9432;
                    </label>
                    <input type="text" class="form-control TPMetrics-param" id="rt1" name="rt1" placeholder="optional" value="0.1">
                </div>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="rt2" data-toggle="popover" data-trigger="hover" title="Lipid Class Retention Time" data-content='Retention time window applied to find features corresponding to the same lipid class. Default: 2'>
                        Lipid Class retention time window  &#9432;
                    </label>
                    <input type="text" class="form-control TPMetrics-param" id="rt2" name="rt2" placeholder="optional" value="2">
                </div>
            </div>

            <div class="p-2 d-none">
                <div class="">
                    <input type="radio" class="TPMetrics-radio" id="spearman" name="corr_type" value="spearman" checked>
                    <input type="radio" class="TPMetrics-radio" id="pearson" name="corr_type" value="pearson">
                    <input type="radio" class="TPMetrics-radio" id="kendall" name="corr_type" value="kendall">
                </div>
            </div>

            <div>
                <h5 class="display-4 text-decoration-underline" style="font-size: 1.3em;">- Output Tables -</h5>
            </div>

            <div class="p-2 d-none">
                <div class="form-group">
                    <label for="TableMerger_output_name" data-toggle="popover" data-trigger="hover" title="Output Name" data-content="Name of the file generated by TableMerger. Set the extension to determine output format (.xls, .xlsx or .tsv). Default: TPMetrics_input-name.tsv">
                        TableMerger Output Name &#9432;
                    </label>
                    <input type="text" class="form-control TableMerger-param" id="TableMerger_output_name" name="output_name" placeholder="optional">
                </div>
            </div>

            <div class="p-2 d-none">
                <div class="form-group">
                    <label for="TableMerger_output_columns" data-toggle="popover" data-trigger="hover" title="Output Columns" data-content="Name of the columns present in the output table (separated by ','). Default: All columns will be present.">
                        TableMerger Output Columns &#9432;
                    </label>
                    <input type="text" class="form-control TableMerger-param" id="TableMerger_output_columns" name="output_columns" placeholder="optional">
                </div>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="TPMetrics_output_name" data-toggle="popover" data-trigger="hover" title="Output Name" data-content="Name of the file generated by TPMetrics. Set the extension to determine output format (.xls, .xlsx or .tsv). Default: TPMetrics_input-name.tsv">
                        TPMetrics Output Name &#9432;
                    </label>
                    <input type="text" class="form-control TPMetrics-param" id="TPMetrics_output_name" name="output_name" placeholder="optional">
                </div>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="TPMetrics_output_columns" data-toggle="popover" data-trigger="hover" title="Output Columns" data-content="Name of the columns present in the output table (separated by ','). Default: All columns will be present.">
                        TPMetrics Output Columns &#9432;
                    </label>
                    <input type="text" class="form-control TPMetrics-param" id="TPMetrics_output_columns" name="output_columns" placeholder="optional">
                </div>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="TPFilter_output_name" data-toggle="popover" data-trigger="hover" title="Output Name" data-content="Name of the filtered table generated by TPMetrics. Set the extension to determine output format (.xls, .xlsx or .tsv). Default: TPFilter_input-name.tsv">
                        Filtered table output name &#9432;
                    </label>
                    <input type="text" class="form-control TPFilter-param" id="TPFilter_output_name" name="output_name" placeholder="optional">
                </div>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="TPFilter_output_columns" data-toggle="popover" data-trigger="hover" title="Output Columns" data-content="Name of the columns present in the output filtered table (separated by ','). Default: All columns will be present.">
                        Filtered table output columns &#9432;
                    </label>
                    <input type="text" class="form-control TPFilter-param" id="TPFilter_output_columns" name="output_columns" placeholder="optional">
                </div>
            </div>

        </div>

    </div>
    
</div>