<div class="container-fluid mt-4" style="font-size: 1em;">

    <div class="row">

        <div class="col-6 d-flex flex-column p-2 border">

            <div class="text-center">
                <h5 class="display-4" style="font-size: 1.6em;">Select tags used for compound classification</h5>
            </div>

            <div class="mt-4">
                <label class="cbContainer">Select all
                    <input class="cbTag" type="checkbox" id="allTags" value="true">
                    <span class="checkmark"></span>                
                </label>
        
                <label class="cbContainer">Food
                    <input class="cbTag Tagger-check" type="checkbox" id="food" name="food" value="true">
                    <span class="checkmark"></span>                
                </label>
        
                <label class="cbContainer">Drug
                    <input class="cbTag Tagger-check" type="checkbox" id="drug" name="drug" value="true">
                    <span class="checkmark"></span>                
                </label>
        
                <label class="cbContainer">Microbial
                    <input class="cbTag Tagger-check" type="checkbox" id="microbial_compound" name="microbial_compound" value="true">
                    <span class="checkmark"></span>                
                </label>
        
                <label class="cbContainer">Plant
                    <input class="cbTag Tagger-check" type="checkbox" id="plant" name="plant" value="true">
                    <span class="checkmark"></span>                
                </label>
        
                <label class="cbContainer">Natural Product
                    <input class="cbTag Tagger-check" type="checkbox" id="natural_product" name="natural_product" value="true">
                    <span class="checkmark"></span>                
                </label>
        
                <label class="cbContainer">Halogenated
                    <input class="cbTag Tagger-check" type="checkbox" id="halogenated" name="halogenated" value="true">
                    <span class="checkmark"></span>                
                </label>
        
                <label class="cbContainer">Peptide
                    <input class="cbTag Tagger-check" type="checkbox" id="peptide" name="peptide" value="true">
                    <span class="checkmark"></span>                
                </label>
            </div>
            
        </div>

        <div class="col-6 d-flex flex-column p-2 border">
            <div class="text-center">
                <h5 class="display-4" style="font-size: 1.6em;">Optional Tagger Parameters</h5>
            </div>
            
            <div class="p-2">
                <div class="form-group">
                    <label for="halogenated_regex" data-toggle="popover" data-trigger="hover" title="Halogenated Regex" data-content="Regular expression used to identify halogens. Default: ([Ff]luor(?!ene)|[Cc]hlor(?!ophyl)|[Bb]rom|[Ii]od)">
                        Halogenated Regex &#9432;
                    </label>
                    <input type="text" class="form-control Tagger-param" id="halogenated_regex" name="halogenated_regex" placeholder="optional">
                </div>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="peptide_regex" data-toggle="popover" data-trigger="hover" title="Peptide Regex" data-content="Regular expression used to identify peptides. Default: ^(Ala|Arg|Asn|Asp|Cys|Gln|Glu|Gly|His|Ile|Leu|Lys|Met|Phe|Pro|Ser|Thr|Trp|Tyr|Val|[-\s,]){3,}$">
                        Peptide Regex &#9432;
                    </label>
                    <input type="text" class="form-control Tagger-param" id="peptide_regex" name="peptide_regex" placeholder="optional">
                </div>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="Tagger_output_name" data-toggle="popover" data-trigger="hover" title="Output Name" data-content="Name of the file generated by Tagger. Set the extension to determine output format (.xls, .xlsx or .tsv). Default: Tagged_input-name.tsv">
                        Output Name &#9432;
                    </label>
                    <input type="text" class="form-control Tagger-param" id="tagger_output_name" name="output_name" placeholder="optional">
                </div>
            </div>

            <div class="p-2">
                <div class="form-group">
                    <label for="Tagger_output_columns" data-toggle="popover" data-trigger="hover" title="Output Columns" data-content="Name of the columns present in the output table (separated by ','). Default: All columns will be present.">
                        Output Columns &#9432;
                    </label>
                    <input type="text" class="form-control Tagger-param" id="tagger_output_columns" name="output_columns" placeholder="optional">
                </div>
            </div>
            
        </div>

    </div>
    <script src="assets/js/tagger_checkbox.js"></script>
</div>