<nav class="navbar navbar-expand-sm navbar-dark shadow" style="background-color: rgba(41, 43, 44, 1); font-size: 1.2em">

    <a class="navbar-brand" href="home">
        <img src="images/icon.ico" width="30px">
    </a>

    <div class="navbar-nav">
        <a id="homeItem" class="nav-item nav-link mr-4" href="home">Home</a>
        <a id="executeItem" class="nav-item nav-link mr-4" href="webserver">TurboPutative</a>
        <a id="turboomicsItem" class="nav-item nav-link mr-4" href="TurbOmicsApp.html">TurbOmics</a>
        <a id="serviceItem" class="nav-item nav-link mr-4" href="webservices">Web Services</a>

        <div id="helpItem" class="nav-item dropdown" style="cursor: pointer;">
            <a class="nav-link dropdown-toggle" id="navbarDropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Help
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownHelp" style="background-color: rgba(247,247,247, 0.8);">
                <a id="serverDocItem" class="dropdown-item" href="webserverhelp">TurboPutative</a>
                <a id="turbomicsDocItem" class="dropdown-item" href="turbomicshelp">TurbOmics</a>
                <a id="serviceDocItem" class="dropdown-item" href="webserviceshelp">Web Services</a>
                <div class="dropdown-divider"></div>
                <a id="modulesItem" class="dropdown-item" href="moduleshelp">Modules</a>
                <!-- <a id="settingsItem" class="dropdown-item" href="/settings">Settings</a> -->

                
                <!-- <a id="restapiItem" class="dropdown-item" href="/api_documentation">REST API</a> -->
            </div>
        </div>

        <a id="contactItem" class="nav-item nav-link ml-4" href="contactUs">Contact us</a>
    </div>

    <span class="navbar-text ml-auto p-0 text-white" style="font-size: 1.2em;"></span>
    <!-- <form class="form-inline ml-auto" action="/execute/" onsubmit="this.action = this.action+this.jobID.value; this.submit()">
        <input type="text" class="form-control mr-2" placeholder="Search job ID" name="jobID" required>
        <button type="submit" class="btn btn-outline-light">Search</button> 
    </form>-->
</nav>