<nav class="navbar navbar-expand-sm navbar-dark shadow" style="background-color: rgba(41, 43, 44, 1);">

    <a class="navbar-brand" href="/">
        <img src="/images/icon.ico" width="30px">
    </a>

    <div class="navbar-nav">
        <a id="homeItem" class="nav-item nav-link mr-4" href="/">Home</a>
        <a id="executeItem" class="nav-item nav-link mr-4" href="/execute">Execute</a>
        <a id="contactItem" class="nav-item nav-link mr-4" href="/contactUs">Contact us</a>

        <div id="helpItem" class="nav-item dropdown" style="cursor: pointer;">
            <a class="nav-link dropdown-toggle" id="navbarDropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Help
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownHelp" style="background-color: rgba(247,247,247, 0.8);">
                <a id="modulesItem" class="dropdown-item" href="/modules">Modules</a>
                <a id="settingsItem" class="dropdown-item" href="/settings">Settings</a>
                <div class="dropdown-divider"></div>
                <a id="restapiItem" class="dropdown-item" href="/api_documentation">REST API</a>
            </div>
        </div>
    </div>

    <!-- <span class="navbar-text ml-auto" style="font-size: 1.2em;">TurboPutative</span> -->
    <form class="form-inline ml-auto" action="/execute/" onsubmit="this.action = this.action+this.jobID.value; this.submit()">
        <input type="text" class="form-control mr-2" placeholder="Search job ID" name="jobID" required>
        <button type="submit" class="btn btn-outline-light">Search</button>
    </form>
</nav>