<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status</title>
    
    <base href="../"/>
    <link href="images/icon.ico" rel="icon">
    <link href="assets/css/ubiquitous.css" rel="stylesheet">
    <link href="assets/css/rotate.css" rel="stylesheet">

    <!-- INSERT PARTIAL: ubiquitous/google_analytics_tag.html -->

    <!-- INSERT PARTIAL: ubiquitous/bootstrap_links.html -->

</head>
<body>

    <div id="wrapper" class="d-flex flex-column min-vh-100">

        <!-- INSERT PARTIAL: ubiquitous/header.html -->

        <div class="container-fluid text-light wrapper flex-grow-1 main-content d-flex">

            <div class="card text-body mx-auto align-self-center" style="width: 90%; background-color: rgba(240, 240, 240, 0.9);">

                <div class="card-header text-center p-3">
                    <h4 class="display-4">TurboPutative Results</h4>
                </div>

                <div class="card-body p-5">
                    <div class="row mt-2">
                        <div class="col-3 text-center">
                            <img class="rotate-img" src="images/icon.ico" width="170" height="auto">
                        </div>
                        <div class="col-6">
                            <table class="table table-bordered table-striped table-dark text-center">
                                <tr>
                                    <td>Request ID</td>
                                    <td id="jobID">/* INSERT VALUE: workflowID */</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td id="jobStatus">/* INSERT VALUE: status */</td>
                                </tr>
                                <tr>
                                    <td>Execution time</td>
                                    <td id="jobTime">/* INSERT VALUE: execTime */</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-3 text-center">
                            <img class="rotate-img-inv" src="images/icon.ico" width="170" height="auto">
                        </div>
                    </div>

                    <div class="container text-center my-2 display-4" style="font-size: 1.2em;">
                        This page will be reloaded automatically every 10 seconds until workflow is finished
                    </div>

                </div>

                <div class="card-footer">
                    <div id="loading-element" class="text-center">
                        <div class="spinner-border text-danger m-1" id="loading-element" style="width:100px; height:100px;"></div>
                    </div>
                </div>

                <div class="card-footer" style="display: none">
                    <div class="d-flex justify-content-center">
                        <div class="text-center p-3 px-5" style="width:25%;">
                            <a id="downloadButton" class="btn btn-outline-dark py-4 px-5" style="width:100%; cursor: pointer; font-size: 1.6em;"
                            href="/* INSERT VALUE: linkToZip */" download="TurboPutativeResults.zip">
                                Download results
                            </a>
                        </div>
                        <div class="text-center p-3 px-5"  style="width:25%;">
                            <a id="viewResultsButton" class="btn btn-outline-dark py-4 px-5" style="width:100%; cursor: pointer; font-size: 1.6em;"
                            href="/* INSERT VALUE: linkToView */", target="_self">
                                View results
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- INSERT PARTIAL: ubiquitous/footer.html -->

    </div>

</body>

<!-- INSERT VALUE: reload.js -->
<!-- INSERT VALUE: clickViewResults -->

<!-- INSERT VALUE: disableDownloadButton -->
<!-- INSERT VALUE: disableViewResultsButton -->

<!-- INSERT PARTIAL: ubiquitous/cookie_alert.html -->
</html>