<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    
    <link href="/images/icon.ico" rel="icon">
    <link href="/assets/css/ubiquitous.css" rel="stylesheet">
    <link href="/assets/css/rotate.css" rel="stylesheet">
    
    <!-- INSERT PARTIAL: ubiquitous/google_analytics_tag.html -->

    <!-- INSERT PARTIAL: ubiquitous/bootstrap_links.html -->

</head>
<body>

    <div id="wrapper" class="d-flex flex-column min-vh-100">

        <!-- INSERT PARTIAL: ubiquitous/header.html -->

        <div class="container-fluid text-light wrapper flex-grow-1 main-content">
            <div class="d-flex justify-content-around pt-5">
                <!--<div class="col-1 col-lg-1"></div>-->
                <div class="text-right pt-4">
                    <img class="rotate-img" src="/images/icon.ico" width="320px">
                </div>
                <div class="text-center" style="width:70%;">
                    <h1 class="display-1">TurboPutative</h1>
                    <h5 class="display-4" style="font-size: 1.8em; line-height: 1.5;">Bioinformatic tool for putative identification in Metabolomics: metabolite annotation, data matrix handling and data simplification</h5>
                    <h5 class="display-3 mt-4" style="font-size: 1.8em;"> TurboPutative website is free to use and open-source to all users</h5>
                    <a href="/webserver" class="btn btn-outline-light px-5 py-3 mt-4 mb-3" style="font-size: 1.8em;"><i class="fa fa-sign-in"></i> Try it now</a>
                    <!-- <a href="/execute/sample" target="_blank" class="nav-link text-light" style="font-size: 1.3em; text-decoration:underline;">View sample results</a> -->

                </div>
                <!--<div class="col-lg-1"></div>-->
            </div>
            
            <div class="d-flex justify-content-around flex-sm-wrap mt-4">
                <div class="text-center flex-grow-4" style="padding-top: 0px;">
                    <img src="/images/workFlow3.svg" alt="GRAPHICAL ABSTRACT" width="1000" style="opacity: 0.9; max-width:100%;">
                    <!--<span class="text-center" style="display: block; margin:auto; font-size: 2em;">GRAPHICAL ABSTRACT</span>-->
                </div>
                <div class="p-4 text-center" style="font-size:0.5em">
                    <a class="twitter-timeline" data-lang="en" data-width="600" data-height="300" data-theme="light" href="https://twitter.com/turboputative?ref_src=twsrc%5Etfw">Tweets by TurboPutative</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

            <!--
            <div class="d-flex justify-content-center p-5 mt-5">
                <div class="" style="width:75%;">
                    <h4 class="display-3" style="font-size: 1.7em;">NOTE</h4>
                    <p class="display-3" style="font-size: 1.4em;">TurboPutative provides several application programming interfaces (<a class="text-light font-weight-bold" href="/api_documentation" style="text-decoration:underline;">REST APIs</a>) to send jobs and query data programmatically.</p>
                </div>

            </div>
            -->
            
            <!--<div class="d-flex justify-content-center">
                <div class="p-5 text-center">
                    <h5 class="display-3" style="font-size: 2em;"> TurboPutative website is free to use and open-source to all users</h5>
                </div>
            </div>-->

        </div>

        <!-- INSERT PARTIAL: ubiquitous/footer.html -->

    </div>

</body>

<script>
document.querySelector("#homeItem").classList.add("active");
</script>

</html>