<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TurboOmics & TurboPutative</title>

    <link href="images/icon.ico" rel="icon">
    <link href="assets/css/ubiquitous.css" rel="stylesheet">
    <link href="assets/css/rotate.css" rel="stylesheet">

    <!-- INSERT PARTIAL: ubiquitous/google_analytics_tag.html -->

    <!-- INSERT PARTIAL: ubiquitous/bootstrap_links.html -->

</head>

<body>

    <div id="wrapper" class="d-flex flex-column min-vh-100">

        <!-- INSERT PARTIAL: ubiquitous/header.html -->

        <div class="container-fluid text-light wrapper flex-grow-1 main-content">
            <div class="d-flex justify-content-around pt-5">
                <!--<div class="col-1 col-lg-1"></div>-->
                <div class="text-right pt-4">
                    <img class="rotate-img" src="images/icon.ico" width="320px">
                </div>
                <div class="text-center" style="width:70%;">
                    <div class="d-flex justify-content-center">
                        <h1 class="display-2">TurboOmics</h1>
                        <div class="display-3 mx-4 align-self-center">&</div>
                        <h1 class="display-2">TurboPutative</h1>
                    </div>
                    <h5 class="display-4" style="font-size: 2.2em; line-height: 1.5;">A web-server for
                        <strong>multi-omics analysis</strong>, <strong>data handling</strong> and <strong>metabolite
                            classification</strong> in <strong>untargeted metabolomics</strong></h5>
                    <h5 class="display-3 mt-4" style="font-size: 1.6em;">This website is free to use and open-source to
                        all users and there is no login requirement</h5>
                    <div class="d-flex justify-content-center">
                        <a href="TurboOmicsApp.html" class="btn btn-outline-light px-5 py-3 mt-4 mb-3 mx-5"
                            style="font-size: 1.8em; width:400px"><i class="fa fa-area-chart"></i> Try TurboOmics</a>
                        <a href="webserver" class="btn btn-outline-light px-5 py-3 mt-4 mb-3 mx-5"
                            style="font-size: 1.8em; width:400px"><i class="fa fa-table"></i> Try TurboPutative</a>
                        <!-- <a href="/execute/sample" target="_blank" class="nav-link text-light" style="font-size: 1.3em; text-decoration:underline;">View sample results</a> -->
                    </div>

                </div>
                <!--<div class="col-lg-1"></div>-->
            </div>



            <div class="d-flex justify-content-around flex-sm-wrap mt-2 mb-2 ">
                <div class="text-center ">

                    <img src="images/AbstractWeb.svg" alt="GRAPHICAL ABSTRACT" width="800"
                        style="vertical-align: middle;opacity: 1; padding: 0px; border-radius: 1%;">

                    <!--<span class="text-center" style="display: block; margin:auto; font-size: 2em;">GRAPHICAL ABSTRACT</span>-->
                </div>
                <div class="text-center d-flex align-items-center mt-2">
                    <!--
                    <a class="twitter-timeline" data-lang="en" data-width="600" data-height="520" data-theme="light" href="https://twitter.com/turboputative?ref_src=twsrc%5Etfw">Tweets by TurboPutative</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    -->
                    <!--
                    <div class="">
                    <a class="twitter-timeline" data-lang="en" data-width="580" data-height="320" data-theme="light" href="https://twitter.com/turboputative?ref_src=twsrc%5Etfw">Tweets by TurboPutative</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    -->
                    <a class="twitter-timeline" data-width="580" data-height="320"
                        href="https://twitter.com/turboputative?ref_src=twsrc%5Etfw">Tweets by TurboPutative</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

        </div>

        <!-- INSERT PARTIAL: ubiquitous/footer.html -->

    </div>

</body>

<script>
    document.querySelector("#homeItem").classList.add("active");
</script>

<!-- INSERT PARTIAL: ubiquitous/cookie_alert.html -->

</html>