<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Settings</title>

    <link href="/images/icon.ico" rel="icon">
    <link href="/assets/css/ubiquitous.css" rel="stylesheet">

    <!-- INSERT PARTIAL: ubiquitous/google_analytics_tag.html -->

    <!-- INSERT PARTIAL: ubiquitous/bootstrap_links.html -->

</head>
<body>

    <div id="wrapper" class="d-flex flex-column min-vh-100">

        <!-- INSERT PARTIAL: ubiquitous/header.html -->

        <div class="container-fluid text-light wrapper flex-grow-1 main-content">

            <div class="card text-body mx-auto my-2" style="width: 90%;">
                <div class="card-header">
                    <h4 class="display-4">Settings</h4>
                </div>

                <div class="card-body" id="accordion">

                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#tagger">Tagger</a>
                        </div>

                        <div id="tagger" class="collapse" data-parent="#accordion">
                            <!-- INSERT PARTIAL: settings/tagger.html -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#rename">REname</a>
                        </div>
                        <div id="rename" class="collapse" data-parent="#accordion">
                            <!-- INSERT PARTIAL: settings/REname.html -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#rowmerger">RowMerger</a>
                        </div>
                        <div id="rowmerger" class="collapse" data-parent="#accordion">
                            <!-- INSERT PARTIAL: settings/rowMerger.html -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#tablemerger">TableMerger</a>
                        </div>
                        <div id="tablemerger" class="collapse" data-parent="#accordion">
                            <!-- INSERT PARTIAL: settings/tableMerger.html -->
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- INSERT PARTIAL: ubiquitous/footer.html -->

    </div>

</body>

<script>
    document.querySelector("#helpItem").classList.add("active");
    document.querySelector("#settingsItem").classList.add("active");
</script>
<!-- INSERT PARTIAL: ubiquitous/cookie_alert.html -->
</html>