<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Services</title>

    <link href="images/icon.ico" rel="icon">
    <link href="assets/css/ubiquitous.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.24.2/swagger-ui.css" >

    <!-- INSERT PARTIAL: ubiquitous/google_analytics_tag.html -->

    <!-- INSERT PARTIAL: ubiquitous/bootstrap_links.html -->
    
</head>
<body>

    <div id="wrapper" class="d-flex flex-column min-vh-100">

        <!-- INSERT PARTIAL: ubiquitous/header.html -->

        <div class="container-fluid text-light wrapper flex-grow-1 main-content">

            <div class="card text-body mx-auto my-2" style="width: 90%;">

                <!-- INSERT PARTIAL: rest/swagger_partial.html -->

            </div>

        </div>

        <!-- INSERT PARTIAL: ubiquitous/footer.html -->

    </div>

</body>

<script>
    document.querySelector("#serviceItem").classList.add("active");
    //document.querySelector("#restapiItem").classList.add("active");
</script>

<!-- INSERT PARTIAL: ubiquitous/cookie_alert.html -->
</html>