<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    
    <link href="/images/icon.ico" rel="icon">
    <link href="/assets/css/ubiquitous.css" rel="stylesheet">
    <link href="/assets/css/rotate.css" rel="stylesheet">
    
    <!-- INSERT PARTIAL: ubiquitous/google_analytics_tag.html -->

    <!-- INSERT PARTIAL: ubiquitous/bootstrap_links.html -->

</head>
<body>

    <div class="container p-4">

        <div class="card text-center m-auto" style="width: 65%;">

            <div class="card-header p-4">
                <h4 class="card-title">REname Map Tables</h4>
            </div>

            <div class="card-body">

                <!-- INSERT VALUE: ZIP_FILES -->

            </div>

        </div>

    </div>

</body>