<h1 id="overview">Overview</h1>
<div>
    <p>
    TurboPutative is a bioinformatic tool that streamlines the putative annotation process in Metabolomics, allowing data matrix handling and simplification, facilitating data visualization, useful information mining and, eventually, the prioritization of which candidate metabolites to investigate further.
    TurboPutative should receive as input a table with a format as shown in the <a href="assets/files/MS_experiment.tsv" download>example file</a>. Additionally, in case of using <i>TableMerger</i>, a <a href="assets/files/FeatureInfo.tsv" download>second table</a> must be uploaded.
    </p>
    <p>
    TurboPutative is designed to handle data obtained by <b>untargeted metabolomics based on liquid chromatography coupled to mass spectrometry (with high-resolution analyzers) using electrospray ionization (LC/ESI-MS)</b>. In this type of studies, the list of candidate metabolites are generally obtained using tools (e.g. <a href="http://ceumass.eps.uspceu.es/" target="_blank">Ceu Mass Mediator 3.0</a> or <a href="https://omics.georgetown.edu/tools/metabosearch" target="_blank">MetaboSearch</a>) that compare the experimental monoisotopic mass of a features with the theoretical mass of compounds listed in one or several databases (<i>e.g.</i> <a href="https://hmdb.ca/" target="_blank">HMDB</a>, <a href="https://metlin.scripps.edu/landing_page.php?pgcontent=mainPage" target="_blank">Metlin</a>, <a href="https://www.genome.jp/kegg/" target="_blank">Kegg</a>, <a href="https://www.lipidmaps.org/" target="_blank">LipidMaps</a>, among others).
    </p>
    <br>
    <div class="row my-4">
        
        <div class="col-2 my-auto ml-5">
            <h5 class="card-title text-center text-uppercase font-weight-bold">Features detected</h5>
            <table class="table table-bordered table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Experimental mass</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>336.8786</td>
                    </tr>
                    <tr>
                        <td>98.0577</td>
                    </tr>
                    <tr>
                        <td>189.0468</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-1 my-auto text-center" style="font-size: 4em; color:rgba(134, 0, 0, 1)">&rarr;</div>

        <div class="col-8">
            <h5 class="card-title text-center text-uppercase font-weight-bold">Candidate metabolites</h5>
            <table class="table table-bordered table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Experimental mass</th>
                        <th>Adduct</th>
                        <th>mz Error (ppm)</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>336.8786</td>
                        <td>M+H-H2O</td>
                        <td>7</td>
                        <td>Bithionol</td>
                    </tr>
                    <tr>
                        <td>336.8786</td>
                        <td>M+H-H2O</td>
                        <td>7</td>
                        <td>Tetradifon</td>
                    </tr>
                    <tr>
                        <td>98.0577</td>
                        <td>M+Na</td>
                        <td>1</td>
                        <td>Trimethylamine-N-oxide</td>
                    </tr>
                    <tr>
                        <td>98.0577</td>
                        <td>M+Na</td>
                        <td>1</td>
                        <td>1-Amino-propan-2-ol</td>
                    </tr>
                    <tr>
                        <td>98.0577</td>
                        <td>M+Na</td>
                        <td>1</td>
                        <td>3-aminopropan-1-ol</td>
                    </tr>
                    <tr>
                        <td>189.0468</td>
                        <td>M+H</td>
                        <td>1</td>
                        <td>2-Chlorobiphenyl</td>
                    </tr>
                    <tr>
                        <td>189.0468</td>
                        <td>M+H</td>
                        <td>1</td>
                        <td>4-Chlorobiphenyl</td>
                    </tr>
                    <tr>
                        <td>189.0468</td>
                        <td>M+Na</td>
                        <td>7</td>
                        <td>Ethionamide</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p>
    Despite the use of high-resolution analyzers (OrbiTrap or TOF), a large number of candidate metabolites can be assigned to the same feature. In fact, several metabolites present the same molecular formula, but different structure, resulting in completely different compounds, with different chemical and physical properties. On top of that, different metabolites results in very similar m/z values after ionization with different adducts. The result is a long and complicated matrix with several candidates per features.
    </p>
    <p>
    For this reasons we have developed <b>TurboPutative</b>, to help researchers determine which metabolites are most likely, avoiding the arduous, laborious and time-consuming process of manually reviewing each entry (comparing their associated errors and adducts, frequently searching databases to identify possible dietary, drug, or microorganism compound…etc.).
    </p>
    <p>
    TurboPutative allow <i>“Metabolomists”</i> to proceed quickly with the biological interpretation of the results, or to prioritize both, the purchase of authentic chemical standards, and the analyses in MS/MS mode for accurate metabolites identification
    (<a href="viewresults/sample" target="_blank" class="link-primary" style="text-decoration:underline;">view sample results</a>).
    </p>
    <br>
    <div class="m-auto" style="width:75%">
        <h5 class="card-title text-center text-uppercase font-weight-bold">Candidate metabolites (Input)</h5>
        <table class="table table-bordered table-striped table-hover text-center mb-0">
            <thead>
                <tr>
                    <th>Experimental mass</th>
                    <th>Adduct</th>
                    <th>mz Error (ppm)</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>336.8786</td>
                    <td>M+H-H2O</td>
                    <td>7</td>
                    <td>Bithionol</td>
                </tr>
                <tr>
                    <td>336.8786</td>
                    <td>M+H-H2O</td>
                    <td>7</td>
                    <td>Tetradifon</td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>Trimethylamine-N-oxide</td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>1-Amino-propan-2-ol</td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>3-aminopropan-1-ol</td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+H</td>
                    <td>1</td>
                    <td>2-Chlorobiphenyl</td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+H</td>
                    <td>1</td>
                    <td>4-Chlorobiphenyl</td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+Na</td>
                    <td>7</td>
                    <td>Ethionamide</td>
                </tr>
            </tbody>
        </table>

        <div class="text-center" style="font-size: 3.5em; color:rgba(134, 0, 0, 1)">&darr;</div>

        <h5 class="card-title text-center text-uppercase font-weight-bold">Tagger</h5>
        <table class="table table-bordered table-striped table-hover text-center mb-0">
            <thead>
                <tr>
                    <th>Experimental mass</th>
                    <th>Adduct</th>
                    <th>mz Error (ppm)</th>
                    <th>Name</th>
                    <th>Halogenated</th>
                    <th>Microbial</th>
                    <th>Drug</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>336.8786</td>
                    <td>M+H-H2O</td>
                    <td>7</td>
                    <td>Bithionol</td>
                    <td>x</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>336.8786</td>
                    <td>M+H-H2O</td>
                    <td>7</td>
                    <td>Tetradifon</td>
                    <td>x</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>Trimethylamine-N-oxide</td>
                    <td></td>
                    <td>MC</td>
                    <td></td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>1-Amino-propan-2-ol</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>3-aminopropan-1-ol</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+H</td>
                    <td>1</td>
                    <td>2-Chlorobiphenyl</td>
                    <td>x</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+H</td>
                    <td>1</td>
                    <td>4-Chlorobiphenyl</td>
                    <td>x</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+Na</td>
                    <td>7</td>
                    <td>Ethionamide</td>
                    <td></td>
                    <td></td>
                    <td>Drug</td>
                </tr> 
            </tbody>
        </table>

        <div class="text-center" style="font-size: 3.5em; color:rgba(134, 0, 0, 1)">&darr;</div>
        
        <h5 class="card-title text-center text-uppercase font-weight-bold">REname</h5>
        <table class="table table-bordered table-striped table-hover text-center mb-0">
            <thead>
                <th>Experimental mass</th>
                <th>Adduct</th>
                <th>mz Error (ppm)</th>
                <th>Name</th>
                <th>Halogenated</th>
                <th>Microbial</th>
                <th>Drug</th>
            </thead>
            <tbody>
                <tr>
                    <td>336.8786</td>
                    <td>M+H-H2O</td>
                    <td>7</td>
                    <td>Bithionol</td>
                    <td>x</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>336.8786</td>
                    <td>M+H-H2O</td>
                    <td>7</td>
                    <td>Tetradifon</td>
                    <td>x</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>Trimethylamine-oxide</td>
                    <td></td>
                    <td>MC</td>
                    <td></td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>Amino-propan-ol</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+H</td>
                    <td>1</td>
                    <td>Chlorobiphenyl</td>
                    <td>x</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+Na</td>
                    <td>7</td>
                    <td>Ethionamide</td>
                    <td></td>
                    <td></td>
                    <td>Drug</td>
                </tr>
            </tbody>
        </table>


        <div class="text-center" style="font-size: 3.5em; color:rgba(134, 0, 0, 1)">&darr;</div>
        
        <h5 class="card-title text-center text-uppercase font-weight-bold">RowMerger</h5>
        <table class="table table-bordered table-striped table-hover text-center mb-0">
            <thead>
                <th>Experimental mass</th>
                <th>Adduct</th>
                <th>mz Error (ppm)</th>
                <th>Name</th>
                <th>Halogenated</th>
                <th>Microbial</th>
                <th>Drug</th>
            </thead>
            <tbody>
                <tr>
                    <td>336.8786</td>
                    <td>M+H-H2O</td>
                    <td>7</td>
                    <td>Bithionol // Tetradifon</td>
                    <td>x</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>Trimethylamine-oxide</td>
                    <td></td>
                    <td>MC</td>
                    <td></td>
                </tr>
                <tr>
                    <td>98.0577</td>
                    <td>M+Na</td>
                    <td>1</td>
                    <td>Aminopropan-ol</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+H</td>
                    <td>1</td>
                    <td>Chlorobiphenyl</td>
                    <td>x</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>189.0468</td>
                    <td>M+Na</td>
                    <td>7</td>
                    <td>Ethionamide</td>
                    <td></td>
                    <td></td>
                    <td>Drug</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>