<h1 class="mt-4" id="rowmerger">RowMerger</h1>
<div>
    <p>
    <i>RowMerger</i> is an entity comparer that allows combining information from different annotations following user-defined criteria, <i>i.e.</i> grouping annotations assigned to the same feature in a single entry. This step facilitate consistently data visualization and therefore the interpretation of the results.
    </p>

    <p>
    To execute <i>RowMerger</i>, the user can specify which annotation properties (<i>i.e.</i> table columns) will be considered during the merger and which ones will be kept in the  resulting table. 
    </p>

    <p>
    By default, <i>RowMerger</i> will combine annotations that have the same <i>Experimental mass</i>, <i>Adduct</i> and <i>mz Error (ppm)</i>, retaining the <i>Identifier</i> and the <i>Name</i> of merged annotations.
    </p>

    <div class="mx-auto py-5" style="width: 60%;">
        <table class="table table-bordered table-striped text-center table-hover">
            <thead>
                <tr>
                    <th>Experimental mass</th>
                    <th>Identifier</th>
                    <th>Adduct</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>83.0607</td>
                    <td>154396</td>
                    <td>M+H</td>
                    <td>Methylimidazole</td>
                </tr>
                <tr>
                    <td>83.0607</td>
                    <td>61184</td>
                    <td>M+H</td>
                    <td>Fomepizole</td>
                </tr>
                <tr>
                    <td>171.0628</td>
                    <td>150549</td>
                    <td>M+Na</td>
                    <td>Paratose</td>
                </tr>
                <tr>
                    <td>171.0628</td>
                    <td>158202</td>
                    <td>M+Na</td>
                    <td>Abequose</td>
                </tr>
                <tr>
                    <td>171.0628</td>
                    <td>151197</td>
                    <td>M+Na</td>
                    <td>Tyvelose</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center my-3" style="font-size: 3em; color:rgba(134, 0, 0, 1);">&darr;</div>
        <table class="table table-bordered table-striped text-center table-hover">
            <thead>
                <tr>
                    <th>Experimental mass</th>
                    <th>Identifier</th>
                    <th>Adduct</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>83.0607</td>
                    <td>154396 // 61184</td>
                    <td>M+H</td>
                    <td>Methylimidazole // Fomepizole</td>
                </tr>
                <tr>
                    <td>171.0628</td>
                    <td>150549 // 158202 // 151197</td>
                    <td>M+Na</td>
                    <td>Paratose // Abequose // Tyvelose</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>