<h1 class="mt-4" id="tablemerger">TPMetrics</h1>
<div>
    
    <p>
    <i>TPMetrics</i> applies a multi criteria scoring algorithm that incorporates analytical correlations and ionization probabilities to identify the most probable annotation. Furthermore, it also allows combining into a unique data matrix two different datasets, specifically, the one obtained after data curation by TurboPutative with another dataset that encompasses data deemed useful for the interpretation of the results.
    </p>

    <p>
    Therefore, <i>TPMetrics</i> receives as input two tables specified by the user. The equivalent features of both tables will be identified thanks to their mass and their retention time (if the retention time is not present, only the mass will be considered). Besides, one of the tables must contain intensity values to calculate the score.
    </p>

    <div class="d-flex flex-column m-auto" style="width:75%;">
        <div class="d-flex flex-row justify-content-around mb-2">
            <h5 class="display-4 font-weight-bold" style="font-size: 1.2em;">Putative Annotations</h5>
            <h5 class="display-4 pl-5 font-weight-bold" style="font-size: 1.2em;">Additional information</h5>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-center">
            <table class="table table-bordered table-striped text-center table-hover mx-2 mb-0">
                <thead>
                    <tr>
                        <th>Experimental mass</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>83.0607</td>
                        <td>Methylimidazole</td>
                    </tr>
                    <tr>
                        <td>104.107</td>
                        <td>Neurine</td>
                    </tr>
                    <tr>
                        <td>83.0607</td>
                        <td>Valinol</td>
                    </tr>
                    <tr>
                        <td>197.1009</td>
                        <td>Arginine</td>
                    </tr>
                </tbody>
            </table>
            <div class="display-4 mx-2 mb-0" style="color:rgba(134, 0, 0, 1);">+</div>
            <table class="table table-bordered table-striped text-center table-hover mx-2 mb-0">
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Experimental mass</th>
                        <th>RT [min]</th>
                        <th>I1</th>
                        <th>I2</th>
                        <th>I3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A08295</td>
                        <td>83.0607</td>
                        <td>10.82</td>
                        <td>1.12</td>
                        <td>1.19</td>
                        <td>1.15</td>
                    </tr>
                    <tr>
                        <td>A01122</td>
                        <td>104.10704</td>
                        <td>0.338</td>
                        <td>0.91</td>
                        <td>0.97</td>
                        <td>0.95</td>
                    </tr>
                    <tr>
                        <td>A01178</td>
                        <td>197.10092</td>
                        <td>0.339</td>
                        <td>0.98</td>
                        <td>0.91</td>
                        <td>0.93</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center" style="font-size: 3em; color:rgba(134, 0, 0, 1);">&darr;</div>
        <table class="table table-bordered table-striped text-center table-hover m-auto" style="width: 80%;">
            <thead>
                <tr>
                    <th>Feature</th>
                    <th>Experimental mass</th>
                    <th>RT [min]</th>
                    <th>Name</th>
                    <th>TPMetrics</th>
                    <th>I1</th>
                    <th>I2</th>
                    <th>I3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A08295</td>
                    <td>83.0607</td>
                    <td>10.82</td>
                    <td>Methylimidazole</td>
                    <td>25.37</td>
                    <td>1.12</td>
                    <td>1.19</td>
                    <td>1.15</td>
                </tr>
                <tr>
                    <td>A01122</td>
                    <td>104.107</td>
                    <td>0.338</td>
                    <td>Neurine</td>
                    <td>12.02</td>
                    <td>0.91</td>
                    <td>0.97</td>
                    <td>0.95</td>
                </tr>
                <tr>
                    <td>A08295</td>
                    <td>83.0607</td>
                    <td>10.82</td>
                    <td>Valinol</td>
                    <td>4.12</td>
                    <td>1.12</td>
                    <td>1.19</td>
                    <td>1.15</td>
                </tr>
                <tr>
                    <td>A01178</td>
                    <td>197.1009</td>
                    <td>0.339</td>
                    <td>Arginine</td>
                    <td>8.47</td>
                    <td>0.98</td>
                    <td>0.91</td>
                    <td>0.93</td>
                </tr>
            </tbody>
        </table>

    
    </div>
</div>